<style>
  body {
    background-image: url('<%= asset_path("bg-theater-line02.gif") %>');
  }
</style>

<div id="featured-videos-scroll">
    <div class="theater-banner">
      <div class="video-window" id="slides">
        <% @featured_vids.each do |video| %>
            <div style="text-align: center;">
              <span class="slide-caption"><%= video.name %></span>
                <%= link_to image_tag(video.large_thumbnail_url), video_url(video) %>
            </div>
        <% end %>
      </div>
    </div>
</div>
<div class="movie-shadow">
  <%= image_tag("movie-shadow01.png") %>
  <div>
    <%= link_to image_tag("icarus-power01.png"), "#" %>
  </div>
</div>

<div class="video-table01">
    <% @videos.each_with_index do |video, index| %>
      <div class="video-module-end01 <%= "video-module-last" if ((index+1)%4 == 0) %>">
        <%= link_to image_tag(video.thumbnail_url), video_url(video), :title => video.name %>
        <%= link_to(content_tag(:div, video.name, :class => "video-module-text"), video_url(video)) %>
      </div>
    <% end %>
</div>

<div class="genre-table01">
  <div class="genre-title">Videos by Genre</div>
  <div class="genre-box">
    <% @genres.each_with_index do |genre, index| %>
        <%= link_to content_tag(:div, genre.name, :class=>"genre-icon #{"genre-icon-last" if (index == @genres_last_index) }"), "#" %>
    <% end %>
  </div>
</div>