<div style="height: 450px" class="top-banner">
    <div style="background-image: url(<%= asset_path("bg-theater-line01.gif") %>); background-repeat: repeat-x;"></div>
    <div class="theater-banner" style="margin-left: 318px;">
      <div class="video-window" id="slides" style="width:640px; height:480px;padding-top: 12px;">
        <% @featured_vids.each do |video| %>
            <div>
              <span class="slide-caption"><%= video.name %></span>
                <%= link_to image_tag(video.large_thumbnail_url), video_url(video) %>
            </div>
        <% end %>
      </div>
    </div>
</div>

<div class="videos">
    <% @videos.each do |video| %>
        <div class="video-link">
          <%= link_to image_tag(video.thumbnail_url), video_url(video), :title => video.name %>
          <div class="info">
            <div class="name"><%= link_to(video.name, video_url(video)) %></div>
            <div class="description"><%= raw(truncate(video.description, :length => 100)) %></div>
          </div>
        </div>
    <% end %>
</div>