<div>
    <div class="theater-banner">
      <div class="video-window" id="slides">
        <% @featured_vids.each do |video| %>
            <div style="text-align: center;">
              <span class="slide-caption"><%= video.name %></span>
                <%= link_to image_tag(video.large_thumbnail_url), video_url(video) %>
            </div>
        <% end %>
      </div>
    </div>
</div>
<div class="movie-shadow">
  <%= image_tag("movie-shadow01.png") %>
  <div>
    <%= link_to image_tag("icarus-power01.png"), "#" %>
  </div>
</div>

<div class="videos">
    <% @videos.each do |video| %>
        <div class="video-link">
          <%= link_to image_tag(video.thumbnail_url), video_url(video), :title => video.name %>
          <div class="info">
            <div class="name"><%= link_to(video.name, video_url(video)) %></div>
            <div class="description"><%= raw(truncate(video.description, :length => 100)) %></div>
          </div>
        </div>
    <% end %>
</div>