<%= render :partial => "shared/error_messages", :locals => { :target => @video } %>

<div>
    <div style="height:70px; background-color:#FFF;">
      <div class="video-head-name"><%= @video.name %></div>
    </div>

    <div class="theater-banner video-table">
      <div class="video-window">
        <iframe id="player" type="text/html" width="640" height="480" src="<%= @video.url %>" frameborder="0"></iframe>
      </div>
    </div>

  <div class="video-breakdown">
    <div class="video-descr-spacer">
      <table>
          <tr>
            <td width="25%" height="120" align="left" valign="top">
              <div class="video-percentage"><%= @video_score %>%</div>
              <div class="video-more-user">
                <%= link_to t(:more_from, :email => @video.user.email), "#" %>
              </div>
            </td>
            <td width="75%" colspan="2" rowspan="2" align="left" valign="top">
              <div class="video-description"><%= raw(@video.description) %></div>
            </td>
          </tr>
          <tr>
            <td height="55" align="left" valign="top">
              <div class="video-social">
                <%= pluralize(@video.user_votes.count, "Vote") %><br/>
                SOCIAL MEDIA FPO
              </div>
            </td>
          </tr>
      </table>
    </div>
    <% if user_can_vote?(current_user) %>
        <div class="video-statsplus-box">
          <%= form_for @video, :url => video_vote_url(@video), :html => { :method => :post } do |f| %>
              <div class="rating_container">
                <div>
                  <h2 style="margin:0">Vote on this video</h2>
                </div>
                <div class="sliders">
                    <div class="slider-container">
                      <div class="title">Emotional Impact</div>
                      <%= f.hidden_field :score_emotion, :value => (@user_score_emotion || 50), :class => "video_score" %>
                      Your score: <span class="rating_value" data-disabled="<%= !@user_score_emotion.nil? %>"><%= @user_score_emotion || 50 %>%</span>
                      <div class="slider-range-min"></div>
                    </div>
                    <div class="slider-container">
                      <div class="title">Intellectually Stimulating</div>
                      <%= f.hidden_field :score_intellect, :value => (@user_score_intellect || 50), :class => "video_score" %>
                      Your score: <span class="rating_value" data-disabled="<%= !@user_score_intellect.nil? %>"><%= @user_score_intellect || 50 %>%</span>
                      <div class="slider-range-min"></div>
                    </div>
                    <div class="slider-container">
                      <div class="title">Entertaining</div>
                      <%= f.hidden_field :score_entertain, :value => (@user_score_entertain || 50), :class => "video_score" %>
                      Your score: <span class="rating_value" data-disabled="<%= !@user_score_entertain.nil? %>"><%= @user_score_entertain || 50 %>%</span>
                      <div class="slider-range-min"></div>
                    </div>
                    <p style="clear:both" />
                </div>

                <% options = @user_score_emotion.nil? ? {} : { :disabled => true } %>
                <%= f.submit "Vote", options %>
              </div>
          <% end %>
        </div>
    <% end %>
    <div class="video-comments-box">
      Comments
    </div>
  </div>

</div>