<%= render :partial => "shared/error_messages", :locals => { :target => @video } %>

<div>
    <div style="height:70px; background-color:#FFF;">
      <div class="video-head-name"><%= @video.name %></div>
    </div>

    <div class="theater-banner video-table">
      <div class="video-window">
        <iframe id="player" type="text/html" width="640" height="480" src="<%= @video.url %>" frameborder="0"></iframe>
      </div>
    </div>

  <div class="video-breakdown">
    <div class="video-descr-spacer">
      <table>
          <tr>
            <td width="25%" height="120" align="left" valign="top">
              <div class="video-percentage"><%= @video_score %>%</div>
              <div class="video-more-user">
                <%= link_to t(:more_from, :email => @video.user.email), "#" %>
              </div>
            </td>
            <td width="75%" colspan="2" rowspan="2" align="left" valign="top">
              <div class="video-description"><%= raw(@video.description) %></div>
            </td>
          </tr>
          <tr>
            <td height="55" align="left" valign="top">
              <div class="video-social">
                <%= pluralize(@video.user_votes.count, "Vote") %><br/>
                SOCIAL MEDIA FPO
              </div>
            </td>
          </tr>
      </table>
    </div>
    <% if user_can_vote?(current_user) %>
        <div class="video-statsplus-box">
          <%= form_for @video, :url => video_vote_url(@video), :html => { :method => :post } do |f| %>
              <div class="rating_container">
                <div><span>Vote on this video. </span>Your score: <span id="rating_value" data-disabled="<%= !@user_score.nil? %>"><%= @user_score || 50 %>%</span></div>
                <div id="slider-range-min"></div>
                <%= f.hidden_field :score, :value => (@user_score || 50) %>
                <%= f.submit "Vote" %>
              </div>
          <% end %>
        </div>
    <% end %>
    <div class="video-comments-box">
      Comments
    </div>
  </div>

</div>