<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
  <title>Odiun</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="main-wrapper">
      <div style="text-align: center" class="top-banner">
        <div class="header-content">
            <div class="header01-03">
              <div class="links-bar">
                <% if user_signed_in? %>
                    <%= link_to(content_tag(:div, t(:dashboard), :class => "header-text first"), user_dashboard_path(current_user)) %>
                    <%= link_to(content_tag(:div, t(:logout), :class => "header-text"), destroy_user_session_path, :method => :delete) %>
                <% else %>
                    <%= link_to(content_tag(:div, t(:login), :class => "header-text first"), new_user_session_path) %>
                <% end %>
                <%= link_to(content_tag(:div, t(:about), :class => "header-text last"), "#") %>
              </div>
            </div>
            <div class="header02">
                <%= link_to image_tag("odiun-logo01.png", :style => "height: 69px; width: 154px; border: 0"), root_url %>
            </div>
            <div class="header01-03">
              <%= link_to content_tag(:div, t(:video_upload), :class => "upload-video-button"), new_video_url %>
            </div>
        </div>
      </div>

      <% if notice || alert %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
      <% end %>
    <%= yield %>

    </div>

</body>
</html>
